* {
  box-sizing: border-box;
}

body {
  background-color: #e0dcd1;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  width: 75%;
  height: 6rem;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 900;
}

.nav-parent {
  display: flex;
  justify-content: center;
}

.about {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.about-body {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  font-size: 20px;

}

.about-guide {
  padding-right: 1rem;
  visibility: hidden;
  text-align: right;
}

#about-connect {
  padding-bottom: 18px;
}

.site-title {
  font-size: 1.75rem;
}

nav li.active {
  color: #777;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 50;
  font-size: 40px;
  /*background: rgb(0 0 0 / 0.1) !important;*/
}

.line-left {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.line-right {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.navline-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.navline-text {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.navline-parent {
  margin: 20px 80px;
  border: 2px solid black;
  border-radius: 20px;
  background: #eddaa4;
}

.project {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  gap: 1rem;
  padding: 0 1rem;
}

.left-project-barrier {
  width: 12.5%;
  background: rgb(0 0 0 / 0.1) !important;
}