* {
  box-sizing: border-box;
  color: #0d0d0d;
  font-family: 'Raleway', sans-serif;
}

.page {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: #fef9f8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  width: 75%;
  height: 6rem;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 900;
}

.nav-parent {
  display: flex;
  justify-content: center;
  /* background-color: #e1eedd; */

}

.nav-tab {
  position: relative;
}

.nav-tab::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  bottom: 0;
  left: 0;
  background: black;
  transform: scale(0,1);
  transition: transform 0.3s ease;
}

.nav-tab:hover::after {
  transform: scale(1, 1)
}

.site-title {
  font-size: 200px;
}

.about {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.about-body {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  font-size: 20px;
}

.about-guide {
  padding-right: 1rem;
  visibility: hidden;
  text-align: right;
}

#about-connect {
  padding-bottom: 25px;
}

.site-title {
  font-size: 2.25rem;
}

nav li.active {
  color: #777;
}

.section-title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 50;
}

#title-name {
  padding-left: 15px;
  font-size: 2.5rem;
}

#title-image {
  width: 3rem;
  height: 3rem;
}

.line-left {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.line-right {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.navline-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.navline-text {
  text-decoration-color: #fef9f8;
  text-decoration-style: none;
  text-decoration-thickness: 0;
  text-decoration: none;
  color: #fef9f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  position: relative;
}

.navline-text::after {
    content: '';
    position: absolute;
    width: 55%;
    height: 0.175rem;
    bottom: 0;
    background: white;
    transform: scale(0,1);
    transition: transform 0.3s ease;
  }
  
  .navline-text:hover::after {
    transform: scale(1, 1)
  }


.navline-parent {
  margin: 15px auto;
  
  padding: 10px;
  border-radius: 30px;
  background: #f69e81;
  /* background: rgba(231, 243, 139, 0.4) !important;  */
  max-width: 200px;
}

/* .navline-parent:hover {
  background: #f5cac2;
} */

.project {
  font-family: 'Raleway', sans-serif;
  /* background: rgb(0 0 0 / 0.1) !important; */
  padding-top: 3rem;
}

.project-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-title {
  /* background: rgba(229, 126, 240, 0.1) !important; */
  display: inline-block;
  width: 30%;
}

.project-title-contents {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.project-name {
  margin: 0px;
  display: inline-block;
  color:rgb(231, 243, 139, 0.4);
}

.project-date {
  margin: 0px;
  display: inline-block;
  color: #777;
  font-style: italic;
}

.project-divider {
  height: 0.1rem;
  width: 25%;
  margin: 0 auto;
  margin-top: 3rem;
  color: black; ;
  background: black;
}

.project-body {
  /* background: rgba(159, 240, 150, 0.4) !important;  */
  display: inline-block;
  width: 30%;
}

.project-body-contents {
  
}

.project-description {
  margin: 0px;
  /* background: rgb(0 0 0 / 0.1) !important; */
}

.project-specs {
  margin: 0px;
  font-style: italic;
  /* background: rgb(0 0 0 / 0.1) !important; */
}

.education-title {
  font-family: 'Raleway', sans-serif;
}

.footer-parent-parent {
  display: flex;
  justify-content: center;

}

.footer-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f69e81;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: #fef9f8;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-text {
  color: #fef9f8;
  font-size: 11px;
  padding: 0;
  margin: 0;
  font-weight: lighter;
}

#footer-text-top {
  font-size: 13px;
  font-weight: lighter;
  margin-top: .3rem;
  margin-bottom: .1rem;
}

#footer-text-bottom {
  margin-bottom: .3rem;
}
