* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
  color: #f58863;
}

.link-png {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  color: #4b4b4b;
}

.link:hover {
  text-decoration: underline;
}

.page {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: #fef9f8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  width: 75%;
  height: 6rem;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 900;
}

.nav-parent {
  display: flex;
  justify-content: center;
  /* background-color: #e1eedd; */

}

nav li {
  position: relative;
  color: #4b4b4b;
}

nav li:hover {
  text-decoration: underline;
}

/* nav li.active {
  color: #f69e81;
} */

/* .nav-tab::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  bottom: 0;
  left: 0;
  background: black;
  transform: scale(0,1);
  transition: transform 0.3s ease;
}

.nav-tab:hover::after {
  transform: scale(1, 1)
} */

.site-title {
  font-size: 2.25rem;
  color:#4b4b4b;
}

.site-title:hover {
  text-decoration: underline;

}

.about {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  width: 75%;
}

.about-body {
  flex-direction: column;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  color: #4b4b4b;
}

#umn-link {

}

.about-text {

}

.about-title {
  color: #4b4b4b;
}

.about p {
  color: #4b4b4b;
  font-size: 20px;
}

.about-guide {
  padding-right: 1rem;
  visibility: hidden;
  text-align: right;
}

#about-connect {
  padding-bottom: 25px;
  color: #4b4b4b;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 50;
}

#title-name {
  margin-bottom: 20px;
  padding-left: 15px;

  font-size: 2.5rem;
  color: #4b4b4b;
}

#title-image {
  width: 3rem;
  height: 3rem;
}

.line-left {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.line-right {
  height: 0px;
  width: 80px;
  margin: 10px;
  outline: 1px solid black;
}

.navline-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.navline-text {
  text-decoration-color: #fef9f8;
  text-decoration-style: none;
  text-decoration-thickness: 0;
  text-decoration: none;
  color: #fef9f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  position: relative;
}

.navline-text::after {
    content: '';
    position: absolute;
    width: 55%;
    height: 0.175rem;
    bottom: 0;
    background: white;
    transform: scale(0,1);
    transition: transform 0.3s ease;
  }

  .navline-text:hover::after {
    transform: scale(1, 1)
  } 

.navline-parent {
  margin: 15px auto;
  
  padding: 10px;
  border-radius: 30px;
  background: #f69e81;
  /* background: rgba(231, 243, 139, 0.4) !important;  */
  max-width: 200px;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

.navline-parent:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease;
}

/* .navline-parent:hover {
  background: #f5cac2;
} */

.project {
  font-family: 'Raleway', sans-serif;
  /* background: rgb(0 0 0 / 0.1) !important; */
  padding-top: 3rem;
}

.project-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-title {
  /* background: rgba(229, 126, 240, 0.1) !important; */
  display: inline-block;
  width: 30%;
}

.project-title-contents {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.project-name {
  margin: 0px;
  display: inline-block;
  color:rgb(231, 243, 139, 0.4);
}

.project-date {
  margin: 0px;
  display: inline-block;
  color: #777;
  font-style: italic;
}

.project-divider {
  height: 0.1rem;
  width: 25%;
  margin: 0 auto;
  margin-top: 3rem;
  color: black; ;
  background: black;
}

.project-body {
  /* background: rgba(159, 240, 150, 0.4) !important;  */
  display: inline-block;
  width: 30%;
}

.project-description {
  margin: 0px;
  /* background: rgb(0 0 0 / 0.1) !important; */
}

.project-specs {
  margin: 0px;
  font-style: italic;
  /* background: rgb(0 0 0 / 0.1) !important; */
}

.education-title {
  font-family: 'Raleway', sans-serif;
}

.footer-parent-parent {
  display: flex;
  justify-content: center;

}

.footer-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f69e81;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: #fef9f8;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-text {
  color: #fef9f8;
  font-size: 11px;
  padding: 0;
  margin: 0;
  font-weight: lighter;
}

#footer-text-top {
  font-size: 13px;
  font-weight: lighter;
  margin-top: .3rem;
  margin-bottom: 0;
}

#footer-text-bottom {
  margin-bottom: .3rem;
}

.project2 {
  display: flex;
  justify-content: center;
}

.project2-container {
  background-color: white;
  width: 80%;
  height: 30%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.project2-contents {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.project2-body {
  display: inline-block;
  margin-left: 15px;
  width: 60%;
  vertical-align: top;
}

.project2-image {
  display: inline-block;
  padding: 0px;
  height: 30%;
  width: 30%;
  min-height: 125px;
  min-width: 260px;
  border-radius: 10px;
}

.project2-text {
  display: inline-block;
  color: #4b4b4b;
}

.project2-title {
  padding: 0px;
}

.project2-description {
  margin: 45px 0;
}

.project2-specs {
  color: #f69e81;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.project2-technologies {
  display: inline-block;
  color: #f69e81;
  margin: 0px;
}

.project2-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* transform: scale(1, 1);
  transition: transform 0.3s ease; */
}

.project2-link:hover {
  /* background-color: white;
  color: #f69e81;
  outline:  #f69e81; */
  /* transform: scale(1.05, 1.05);
  transition: transform 0.3s ease; */
  text-decoration: underline;
}

.home {
  margin-top: 75px;
  display: flex;
  color: #4b4b4b;
  justify-content: center;
}

.home-container {
  width: 72%;
}


.home-title {
  color: #4b4b4b;
}

#home-description {
  line-height: 1.6;
}